@import '../../_settings.scss';

.name {
    color: $base-color;
    background: $accent-color;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 200;
}

.time {
  padding: 1rem 2rem;
}

.container {
    box-shadow: $box-shadow;
    border-radius: .5rem;
    overflow: hidden;
}
