// Currently the settings of each theme will be only stored here.
// TODO: move the settings to a separate file that can be imported by all other css files
$base-color: #fff;
$accent-color: #09f;
$danger-color: #e33;
$box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.14),
0 0.375rem 0.125rem -0.3125rem rgba(0, 0, 0, 0.2),
0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
