@import '_settings.scss';
@import 'css/_elements.scss';
@import 'css/_global.scss';

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
h3{
    font-size: 1.25rem;
}

body{
  font: normal normal 400 1rem/1.5 -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
